<div class="sidebar-item sidebar-header">
    <div class="sidebar-brand">
        <a href="/">{{ site.title }}</a>
    </div>
</div>


<div class="sidebar-item sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Record</li>
            <a class="nav-item" href="/category/til">TIL</a>
            <!-- <ul>
                {% assign pages_list = site.pages %}
                {% for node in pages_list %}
                {% if node.title == "TIL" %}
                    <a class="category-link"
                        href="{{ site.baseurl }}{{ node.url }}"
                        style="color:gray">
                        {{ node.title }}
                    </a>
                {% endif %}
                {% endfor %}
            </ul> -->
    </ul>
</div>

<!-- <div class="sidebar-item sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Programming-Languages</li>
        <li>
            <a class="nav-item" href="/category/python">PYTHON</a>
        </li>
        <li>
            <a class="nav-item" href="/category/java">JAVA</a>
        </li>
    </ul>
</div>

<div class="sidebar-item sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Algorithms</li>
        <li>
            <a class="nav-item" href="/category/basic">BASIC</a>
        </li>
        <li>
            <a class="nav-item" href="/category/advanced">ADVANCED</a>
        </li>
    </ul>
</div> -->