<div class="sidebar-item sidebar-header">
    <div class="sidebar-brand">
        <a href="/">{{ site.title }}</a>
    </div>
</div>

<div class="sidebar-item sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Programming-Languages</li>
        <li>
            <a class="nav-item" href="/">PYTHON</a>
        </li>
        <li>
            <a class="nav-item" href="/">JAVA</a>
        </li>
    </ul>
</div>

<div class="sidebar-item sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Algorithms</li>
        <li>
            <a class="nav-item" href="/">BASIC</a>
        </li>
        <li>
            <a class="nav-item" href="/">ADVANCED</a>
        </li>
    </ul>
</div>